.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    border: 3px solid #ccc;
    box-shadow: 1px 1px 1px black;
    margin-top: -50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    transition: all 0.5s ease-out;
    text-align: center;
    max-width: 90vh;
    max-height: 90vh;
}