#user-status {
    margin-right: 25px;
    font-weight: bold;
}

header {
    padding: 10px;
    height: 75px;
    background-image: url("http://www.psdgraphics.com/file/2017/abstract-geometric-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 100;
    width: 100%;
}

#user-status > a {
    color: white;
}

#user-status a {
    background: none !important;
}

nav {
    padding: 0 20px;
}

.nav-item a {
    color: white;
    font-weight: "bold";
}

.nav-item:hover a {
    background: none !important;
}

nav .nav-link {
    color: #fff;
    font-weight: bold;
    display: block;
    padding: 0 !important; 
}

#header-nav>div>a {
    padding-top: 20px;
    padding-bottom: 20px;
}

#header-nav>.left {
    float: left;
    padding-top: 20px;
    padding-right:15px;
}

#header-nav>.social {
    float: left;
    padding: 20px;
}

#header-nav>.right {
    padding-top: 20px;
    width: auto;
    align-content: right;
}

header .search-input {
    margin-top: -10px;
}

header .user-status.right > ul > li > a{
    padding: 0;
}

header .user-status.right ul.navbar-right{
    margin: 0;
    padding-right: 0;
}

@media only screen and (max-width: 470px) {
    .navbar-nav>li>a {
        float: right;
        padding: 0px;
        display: inline-block;
    }

    .dropdown-menu>li {
        float: right;
    }

    .container {
        display: block;
        cursor: pointer;
        padding-left: 0px;
        padding-right: 10px;
        float: right;
        align-content: center;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #fff;
        margin: 6px 0;
        transition: 0.4s;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .phone-search {
        padding-left: 0px;
        padding-right: 0px;
        margin-right: 0px;
        margin-left: 0px;
    }
    header {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width: 41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}
}

@media only screen and (min-width: 470px) and (max-width: 850px) {
    header {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 851px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}