header {
    display: grid;
    padding: 10px;
    height: 75px;
    background-image: url("http://www.psdgraphics.com/file/2017/abstract-geometric-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: 100;
    width: 100%;
}



img#menu {
    margin-top: 11px;
}

#user-status a {
    background: none !important;
}

header {
    margin-left: 0px;
    margin-right: 0px;
}

.dropdown-toggle {
    height: 36px;
}

div.search-input {
    padding-top: 12px;
    display: block;
}

a.user-dropdown {
    overflow: hidden;
    /*hides content overflowing content*/
    text-align: center;
    color: #fff;
}

.btn-group {
    padding-left: 0px;
    padding-top: 11px;
    padding-right: 10px;
    display: block;
    text-overflow: ellipsis;
    /*if text overflow last part will be ... 
    WOULD LIKE TO IMPLEMENT: overflow: hidden;*/
    white-space: nowrap;
    /*one line*/
    white-space: nowrap;
    /*one line*/
}

div.pull-right {
    /*just for the dropdown element, when it is not in mobile format */
    padding-top: 16px;
}

a.link {
    color: #fff;
    text-decoration: none;
    font-family: Verdana, Tahoma, sans-serif;
}

@media only screen and (max-width: 470px) {
    .btn-group>.btn-default:first-child {
        width: 100%;
    }

    #header .dropdown-menu {
        left: auto;
        right: 0px;
    }
}

@media only screen and (min-width: 470px) and (max-width: 850px) {
    .btn-group {
        max-width: 230px;
    }

    #timeline {
        font-size: 20px;
        text-align: center;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
    }
}

@media only screen and (min-width: 851px) {
    #timeline {
        font-size: 18px;
        text-align: center;
        display: block;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #fff;
    }

    #social {
        font-size: 18px;
        text-align: center;
        display: block;
        padding-top: 15px;
        color: #fff;
    }
}