.img-thumbnail {
    max-height: 200px;
}

.friend-grid-container > div > div {
    margin-bottom: 30px;
}

.friend-grid-container {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.friend-name {
    margin-top: 10px;
}