#homepage-container {
    background-image: url("http://www.psdgraphics.com/file/2017/abstract-geometric-background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1111;
}

body, html, #root {
    height: 100%;
}

#right-component {
    max-width: 512px;
    background: #fff;
    padding: 10px 30px;
    border: 1px solid #ccc;
    position: absolute;
    top: 50px;
    right: 50px;
}