.comments {
    padding: 0;

}

.comment {
    list-style: none;
    margin-bottom: 15px;
    border-left: 1.5px solid black;
    padding-left: 30px;
    
}

.comment-header {
    overflow: auto;
}

.comment-author-name {
    margin-bottom: 0;
    font-weight: bold;
}

.comment-created-at {
    font-weight: bold;
}

.btn-comment {
    font-size: 10.5px;
    margin: 0px 5px;
    opacity: 0.4;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #67c5ff;
    border: solid 2px rgb(219, 209, 209);
    border-radius: 3px;
    transition: .4s;
}

.btn-comment:hover {
    background: #67c5ff2a;
    color: white;
    border: solid 1px black;
}

.emoji{
    float: right;
    margin-bottom: 5px;
}