.post {
    color: black;
    padding: 20px;
    font-size: 16px;   
    background: #efefef;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.post .post-header {
    margin-bottom: 10px;
    overflow: auto;
}

.post .author {
    font-weight: bold;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.post .created {
    font-weight: bold;
    float:right;
    margin-top: 10px;
}

.post .author-pic {
    float:left;
}

.post-gallery {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.post-gallery-full {
    border-bottom: 1px solid #ddd;
}

.post-gallery-full {
    background: #111;
}

.post-gallery-full img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.post-gallery-thumbnails {
    overflow: auto;
}

.post-gallery-thumbnail-container {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-right: 1px solid #ddd;
    float:left;
    cursor: pointer;
}

.dropdown-div{
    float: right;
    margin: 0 15px;
}


@media (max-width: 400px) {
    .dropdown-div{
    margin-right: 20px;
    }
}
